<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
 
    <!-- <display-name>Pragmasoft</display-name> -->
    <welcome-file-list>
    	<welcome-file>About</welcome-file>
    </welcome-file-list>
 
    <!-- ========= SERVLETS ========= -->
    <!-- Freemarker servlet -->
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
 
        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        
        <init-param>
            <param-name>ContentType</param-name>
            <!-- Forces UTF-8 output encoding -->
            <param-value>text/html; charset=UTF-8</param-value>
        </init-param>
 
        <!-- FreeMarker settings: -->
        <init-param>
            <param-name>template_update_delay</param-name>
            <param-value>0</param-value>
            <!-- 0 is for development only! Use higher value otherwise. -->
        </init-param>
        
        <init-param>
            <!-- The encoding of the template files. -->
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
 
        <load-on-startup>1</load-on-startup>
    </servlet> 
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping> 
 
    <!-- Error handler -->
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>ua.com.pragmasoft.web.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    
    <!-- About servlet -->
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>ua.com.pragmasoft.web.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    
    <!-- Vacancies servlet -->
    <servlet>
        <servlet-name>VacanciesServlet</servlet-name>
        <servlet-class>ua.com.pragmasoft.web.VacanciesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VacanciesServlet</servlet-name>
        <url-pattern>/Vacancies</url-pattern>
    </servlet-mapping>
    
    <!-- Contacts servlet -->
    <servlet>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>ua.com.pragmasoft.web.ContactsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/Contacts</url-pattern>
    </servlet-mapping>
    
    <!-- Projects servlet -->
    <servlet>
        <servlet-name>ProjectsServlet</servlet-name>
        <servlet-class>ua.com.pragmasoft.web.ProjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectsServlet</servlet-name>
        <url-pattern>/Projects/*</url-pattern>
        <!-- <url-pattern>/Projects/*/</url-pattern> -->
    </servlet-mapping>
    
    <!-- Tomcat default servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    
    <!-- ========== Listeners ======== -->
    <listener>
      <listener-class>ua.com.pragmasoft.listener.ContextListener</listener-class>
    </listener>

    <!-- ========= Filters ========= -->
    <!-- Encoding filter -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.com.pragmasoft.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- Context path filter -->
    <filter>
        <filter-name>ContextPathFilter</filter-name>
        <filter-class>ua.com.pragmasoft.filter.ContextPathFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ContextPathFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Locale filter -->
    <filter>
        <filter-name>LanguageFilter</filter-name>
        <filter-class>ua.com.pragmasoft.filter.LanguageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- EHCache filter -->
    <filter>
      <filter-name>SimplePageCachingFilter</filter-name>
      <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter
      </filter-class>
    </filter>  
    <filter-mapping>
      <filter-name>SimplePageCachingFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--
        Prevent the visiting of MVC Views from outside the servlet container.
        RequestDispatcher.forward/include should and will still work. Removing
        this may open security holes!
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Nobody is allowed to visit these -->
        </auth-constraint>
    </security-constraint>
 
</web-app>